<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Survey Form</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/result" method='post'>
        <div class="box0"> 
            <div id="id_name"> 
                <label class="col-lg-2" for="id_name">Your Name</label>
                <input type="text" class="form-control" name="id_name" id="">
            </div> 
            <div class="col-lg-10">
                <label class="col-lg-2 control-label" for="location">Dojo Location</label>
                <select class="form-control" name="id_location">
                    <option>Silicon Valley</option>
                    <option>Seattle</option>
                    <option>Los Angeles</option>
                    <option>Washington DC</option>
                    <option>Dallas</option>
                    <option>Chicago</option>
                    <option>Tulsa</option>
                </select>
                <label class="col-lg-2 control-label" for="language">Favorite Language</label>
                <select class="form-control" name="id_language">
                    <option>Python</option>
                    <option>Java</option>
                    <option>Mean</option>
                    <option>C++</option>
                    <option>iOS</option>
                    <option>Ruby</option>
                </select>
                <label class="col-lg-2" for="id_comment">Comment (optional)</label>
                <textarea class="form-control" rows="3" name="id_comment"></textarea>
            </div>
    
            <button type="reset" class="btn1 btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
