<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>New Cars</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <body>
       <h1>Hello, this is the New Cars Page !</h1>

      <h2>Enter a new car:</h2>
        <form method="post" action="/process">
            <input type="hidden"   name="action" value="register">
            <input type="text" placeholder="Manufacture" name="manufacture">
            <input type="text" placeholder="Model" name="Model">
            <input type="text" placeholder="Year Manufacture" name="year_manufacture">
            <input type="submit" value="Input"> Click now!!!
        </form>
        
  </body>
</html>