<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <title>Cars Page</title>
  <body>
       <h1>Hello, this is the pictures of my amazing Cars Collection !</h1>

    <img class="left" src="car1.jpeg"  alt="Amazing car 1">
    <img class="mid_1" src="car2.jpeg" alt="Amazing car 2">
    <img class="mid_2" src="car3.jpeg" alt="Amazing car 3">
    <img class="right" src="car4.jpeg" alt="Amazing car 4">
        
  </body>
</html>