<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Cats Page</title>
</head>
<body>
    <h1>Hello, this are pictures of the amazing Cats !</h1>
    
        <img class="left" src="cat1.jpeg" alt="Amazing cat 1">
        <img class="mid_1" src="cat2.jpeg" alt="Amazing cat 2">
        <img class="mid_2" src="cat3.jpeg" alt="Amazing cat 3">
        <img class="right" src="cat4.jpeg" alt="Amazing cat 4">
            
</body>
</html>